.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  max-width: var(--maxWidth);
  margin: 0 auto;
}
.burger,
.menuBackground {
  display: none;
}
.logo {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    img {
      height: 4rem;
    }

    .brandName {
      margin-left: 0.3rem;
      font-size: 1.7rem;
      font-family: monospace;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
.icon {
  width: 2rem;
}
.navbarItems {
  display: grid;
  grid-template-areas: "tasks-link toggle-theme leaderboard-link admin-link logout";
}
.navItem {
  margin: auto 1rem;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}
.divider {
  margin: 0.4rem 0;
  margin-right: 0.8rem;
  color: transparent;
}

.tasksLink {
  grid-area: tasks-link;
}
.leaderBoardLink {
  grid-area: leaderboard-link;
}
.adminLink {
  grid-area: admin-link;
}
.logout {
  grid-area: logout;
  margin: auto 0;
  cursor: pointer;
  display: flex;
  align-items: center;

  .logoutButtonText {
    display: none;
    padding-left: 0.5rem;
  }
}
.spacing {
  grid-area: spacing;
}

.toggle {
  grid-area: toggle-theme;
  display: flex;
  svg {
    width: 2rem;
  }
}

.sideMenu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15rem;
  z-index: 100;
  transform: translateX(-15rem);
  transition: transform 200ms;
}
.sideMenuOpen {
  transform: translateX(0);
}

.menuBackground {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 90;
  &.sideMenuOpen {
    display: unset;
  }
}
.burgerButton {
  background: none;
  span {
    font-size: 2rem;
  }
  &:hover {
    background: none;
  }
}
.closeButton {
  width: min-content;
  margin: 1.5rem;
}

.sideMenuItems {
  flex: 1;
  display: grid;
  grid-template-areas: "tasks-link" "leaderboard-link" "admin-link" "spacing" "logout" "toggle-theme";
  grid-template-rows: 3.5rem 3.5rem 3.5rem auto 3.5rem 3.5rem;
  padding: 1rem 1.5rem 3rem;
  .navItem {
    display: block;
    margin: 1rem 0;
  }
}

@media (width < 700px) {
  .navbarItems {
    display: none;
  }
  .burger {
    display: unset;
  }
  .logo {
    margin: 0 auto;
  }
  .logout .logoutButtonText {
    display: inline;
  }
}
