@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url(./colors.css);

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

* {
  transition: color 200ms;
}

body {
  background-color: var(--bgColor);
  font-family: sans-serif;
}
p,
span,
h1,
h2,
h3,
button,
a,
li,
pre,
svg {
  color: var(--textColor);
}

.markdown p {
  padding-bottom: 0.5rem;
}
.markdown a {
  color: rgb(0, 217, 233);
}
.markdown a:hover {
  text-decoration: underline;
}

/*
 *    Common element styles
 */

.input,
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  background-color: transparent;
  border: 1px solid var(--borderColor);
  border-radius: 0.4rem;
  padding: 0.6rem 1rem;
  color: var(--textColor);
  box-sizing: border-box;

  &:focus {
    outline: 2px solid var(--borderColor);
  }

  &[disabled] {
    background-color: var(--inputDisabledColor);
    cursor: not-allowed;
  }

  &.filled {
    background-color: var(--bgColorTetriary);
    border: 1px solid transparent;
    border-top-color: #70747960;

    &:focus {
      border-top-color: transparent;
      outline: 2px solid var(--borderColor);
      background-color: transparent;
    }
  }

  [data-theme="light"] & {
    background-color: transparent;
    border: 1px solid var(--borderColor);

    &[disabled] {
      background-color: var(--inputDisabledColor);
    }

    &:focus {
      border: 1px solid var(--borderColor);
    }
  }
}

.button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  padding: 0.6rem 1rem;
  color: var(--buttonTextColor);

  font-weight: bold;

  cursor: pointer;
  transition: background-color 100ms;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.5);
  }

  [data-theme="light"] & {
    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: var(--buttonDisabledColor);
    color: var(--disabledTextColor);
    &:active,
    &:hover {
      background-color: var(--buttonDisabledColor);
    }
  }

  &.solid {
    color: var(--buttonSolidTextColor);
    background-color: var(--buttonSolidColor);

    &:hover {
      background-color: var(--buttonSolidColorHover);
    }
    &:active {
      background-color: var(--buttonColorPressed);
    }
  }
}

table {
  width: 100%;
  border-spacing: 0;

  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.03);
    [data-theme="light"] & {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
  td,
  tr {
    padding: 0.5rem 0.5rem;
  }

  th {
    font-weight: bold;
    color: var(--textColor);
    text-align: left;
    padding-bottom: 1rem;
  }
  td {
    color: var(--textColor);
  }
}

.form-control {
  .label {
    display: block;
  }
  .input,
  textarea {
    width: 100%;
  }
  margin-bottom: 1rem;
}
