@keyframes comeInFromBehind {
  from {
    transform: translate(-50%, -50%) scale(10) rotate(-15deg);
  }
  to {
    transform: translate(-50%, -50%) scale(1) rotate(-15deg);
  }
}
.videoContainer {
  position: relative;
  width: 100%; /* Adjust based on your video size */
}

.teamName {
  font-size: 5vh;
  position: absolute;
  top: 50%;
  left: 50%;

  color: purple;
  padding: 5px;
  display: none;
  font-family: "Bungee", sans-serif;
  text-shadow:
    0.4vh 0.4vh 0.4vh #000,
    0.8vh 0.8vh 0.8vh rgba(0, 0, 0, 0.5);

  animation: comeInFromBehind 1s ease-in forwards; /* Adjust duration and timing function as needed */
}

video {
  width: 100%;
  border-radius: 0.5rem;
}

.backDrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  z-index: 90;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  margin: 0;
  overflow-y: auto;
  background-color: var(--bgColor);
  z-index: 100;
  border-radius: 0.5rem;
  padding: 2rem;
}
